

<ion-header >
 
 

</ion-header>





<ion-nav >

  <ion-content  class="ion-padding"  >
    <ion-searchbar size="large"> <ion-button fill="clear"  ></ion-button>  </ion-searchbar  >
    
      <ion-list>
      <ion-list-header> Recent Conversations </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://images.alphacoders.com/127/1271677.png" />
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>

    

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://images5.alphacoders.com/125/1258897.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Rey</h2>
          <h3>I can handle myself</h3>
          <p>You will remove these restraints and leave...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://images7.alphacoders.com/122/1227868.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Luke</h2>
          <h3>Your thoughts betray you</h3>
          <p>I feel the good in you, the conflict...</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header> Online </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://images5.alphacoders.com/126/1266405.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Poe</h2>
          <h3>New Ride</h3>
          <p>I just upgraded my X-Wing. Next time...</p>
        </ion-label>
      </ion-item>

      

      
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://images8.alphacoders.com/122/1224450.png" />
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
   

</ion-nav>
<section>







  
</section>

    


<ion-footer class="fot">

<ion-button color="outline" >
  
  <header ></header>
  <ion-button  size="large" color="" routerLink="/inicio" class="boton3" color="black"> <ion-icon name="home"></ion-icon></ion-button>
  <ion-button  size="large" color="" routerLink="/favoritos" class="boton3" color="black"><ion-icon name="heart"></ion-icon></ion-button>
  <ion-button  size="large" color="" routerLink="/chat" class="boton3" color="black"><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-button>
  <ion-button  size="large" color="" routerLink="/perfil" class="boton3" color="black"><ion-icon name="people"></ion-icon></ion-button>


</ion-button>

</ion-footer>


