.logo{

position: relative;
top: 0px;
left: 130px;
right:0px ;
bottom: 200px;




}

.logo2{

    position: relative;
    top: 0px;
    left: 0px;
    right:0px ;
    bottom: 200px;
   
    
    
    
    
    }

    .share{

        position: relative;
        top: 1px;
        left: 220px;
        right:0px ;
        bottom: 0px;
       
        
        
        
        
        }


        .share2{

            position: relative;
            top: 5px;
            left: 185px;
            right:0px ;
            bottom: 0px;
           
            
            
            
            
            }
    






   