.medio{

    position: relative;
    top: 0px;
    left: 130px;
    right:0px ;
    bottom: 300px;
   
    
    
    
    
    }


    .fav{

        position: relative;
        top: 0px;
        left: 100px;
        right:0px ;
        bottom: 100px;
       
        
        
        
        
        }